@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#icon-bigbook {
  position: fixed;
  top: 24%;
  left: 0;
  z-index: 29;
  cursor: pointer;
}

#icon-contact-us {
  position: fixed;
  top: 24%;
  right: 0;
  transition: 0.3s all ease;
  cursor: pointer;
  z-index: 35;
  height: auto;
}
